@import "https://fonts.googleapis.com/css?family=Berkshire+Swash";
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #fcfff0;
  font-family: sans-serif;
  font-weight: 100;
}

h1 {
  width: 100%;
  height: 50px;
  line-height: 45px;
  background-color: #1e1e1e;
  color: #9fa6ad;
  font-family: 'Berkshire Swash', sans-serif;
}

.game-of-life {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.board {
  width: 480px;
  padding: 20px;
  flex-shrink: 0;
}

.cell {
  width: 8px;
  height: 8px;
  float: left;
  border-radius: 50%;
}

.alive {
  background-color: #375760;
}

.dead {
  background-color: #c8d6d3;
}

button {
  height: 25px;
  margin: 5px 0;
  border: 1px solid #999999;
  border-radius: 5px;
  margin-right: 10px;
}

button:hover {
  background-color: #c8d6d3;
}

button:disabled {
  cursor: not-allowed;
  background-color: #ffffff;
}

#credits {
  margin-top: 30px;
  font-size: 10px;
  color: #375760;
}

